### **Submitted by- BIDISHA SUKAI**
### **Roll no- D24CSA002**

## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [61]:
#write here and run the cell
for num in range(1, 11):
    print(f"Multiplication table for {num}:")
    for mult in range(1, 11):
        print(f"{num} x {mult} = {num * mult}")
    print("\n")

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


Multiplication table for 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


Multiplication table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


Multiplication table for 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


Multiplication table for 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


Multiplication table for 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [62]:
#write here and run the cell

l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50]
l3 = []
for i in range(max(len(l1), len(l2))):
    if i < len(l1) and i % 2 != 0:
        l3.append(l1[i]) #odd indices
    if i < len(l2) and i % 2 == 0:
        l3.append(l2[i]) #even indices
print("List l3:", l3)

List l3: [10, 2, 30, 4, 50]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [63]:
#write here and run the cell

n_row = 8
for i in range(n_row):
    print(" " * (2*i), end="")
    print("* " * (n_row - i))
    #extra spacing using 2*i and "* "

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [64]:
#write here and run the cell
def exponent(base, exp):
    if exp == 1:
        return base
    return base * exponent(base, exp - 1)

#test case
base = 5
exp = 4
calculation = "*".join([str(base)] * exp)
print(f"{base} raised to the power of {exp} is: {exponent(base, exp)} i.e ({calculation} = {exponent(base, exp)})")

5 raised to the power of 4 is: 625 i.e (5*5*5*5 = 625)

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [68]:
#write here and run the cell


#defining the content to be inserted into the file
content = """line1
line2
line3
line4
line5
line6
line7"""

#creating test.txt file
with open("test.txt", "w") as file:
    file.write(content)
print("File 'test.txt' created")
with open("test.txt", "r") as file:
    test_content = file.read()
print(test_content)

#copying content into new file by skipping line 5:
with open("test.txt", "r") as file:
    lines = file.readlines()
with open("test_modified.txt", "w") as new_file:
    for i, j in enumerate(lines, start=1):
        if i != 5:
            new_file.write(j)
print("\nFile test_modified.txt created by skipping line 5.")
with open("test_modified.txt", "r") as file:
    mod_content = file.read()
print(mod_content)

File 'test.txt' created
line1
line2
line3
line4
line5
line6
line7

File test_modified.txt created by skipping line 5.
line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [69]:
#write here and run the cell
input_string = input("Enter three names: ")
names = input_string.split(" ")
if len(names) != 3:
    print("Error:INVALID. You must enter exactly three names.")
else:
    for nm in names:
        print(nm)

Enter three names: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [70]:
#write here and run the cell
def showEmployee(name, salary=9000):
  print("Name: ", name, "salary: ", salary)


#testcase"
showEmployee("Bill Gates", 12000)
showEmployee("Elon Musk")

Name:  Bill Gates salary:  12000
Name:  Elon Musk salary:  9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [71]:
#write here and run the cell
def words_with_ld(input):
    words = input.split()
    result = []
    for w in words:
        has_letter = False
        has_digit = False
        for char in w:
            if char.isalpha():  #Check if character is letter
                has_letter = True
            if char.isdigit():  #Check if character is digit
                has_digit = True
        if has_letter and has_digit: #add to result if both=true
            result.append(w)
    return result

#testcase:
str1 = "Harry25 is Gryffindor Wizard50 and cursed"
words_with_letters_digits = words_with_ld(str1)
for w in words_with_letters_digits:
    print(w)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [73]:
#write here and run the cell
def replace_special_char(input):
    res_string = ""
    for char in input:
        if char.isalnum() or char.isspace():
            res_string += char
        else:
            res_string += "#"
    return res_string

#testcase:
str1 = '/*Modi is @Politician & Melony!!'
output = replace_special_char(str1)
print(output)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [74]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
result_list = set(zip(first_list, second_list))
print("Result is", result_list)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [75]:
#write here and run the cell


A = {1,2,3,4,5}
B = {3,4,5,6,7,8}

# 1. A-B
A_minus_B = A - B
print("A - B:", A_minus_B)

# 2. B-A
B_minus_A = B - A
print("B - A:", B_minus_A)

# 3. A∩B both in A and B
A_intersection_B = A & B
print("A ∩ B:", A_intersection_B)

# 4. A∪B either in A or B
A_union_B = A | B
print("A ∪ B:", A_union_B)

A - B: {1, 2}
B - A: {8, 6, 7}
A ∩ B: {3, 4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [76]:
#write here and run the cell
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage= mileage
    def disp_func(self):
      print("Vehicle Max Speed: ", self.max_speed, "km/h")
      print("Vehicle Mileage: ", self.mileage,"km")



car1 = Vehicle(200, 2441139)

print("Max Speed: ", car1.max_speed, "km/h")
print("Mileage: ",car1.mileage,"km")

car1.disp_func()

Max Speed:  200 km/h
Mileage:  2441139 km
Vehicle Max Speed:  200 km/h
Vehicle Mileage:  2441139 km

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [77]:
#write here and run the cell
class Bus(Vehicle):
    def __init__(self, max_speed, mileage, seating_capacity):
        super().__init__(max_speed, mileage)
        self.seating_capacity = seating_capacity

    def disp_func2(self):
        super().disp_func()
        print(f"Seating Capacity: {self.seating_capacity}")
bus1 = Bus(max_speed=160, mileage=339960, seating_capacity=75)
bus1.disp_func2()

Vehicle Max Speed:  160 km/h
Vehicle Mileage:  339960 km
Seating Capacity: 75

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [79]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def __init__(self, name, max_speed, mileage, capacity=50):
        super().__init__(name, max_speed, mileage)
        self.seat_capacity=capacity

  def seating_capacity2(self):
    return super().seating_capacity(self.seat_capacity)
    #return f"The seating capacity of a {self.name} is {self.seat_capacity} passengers"

bus1=Bus("BharatBenz", 150, 4200)
#print(bus1)
print(bus1.seating_capacity2())

bus2= Bus("Mahindra", 140, 2000, 80)
print(bus2.seating_capacity2())

The seating capacity of a BharatBenz is 50 passengers
The seating capacity of a Mahindra is 80 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [80]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def fare(self):
      base_fare = super().fare()
      maintain_fare = 0.1 * base_fare
      total_fare = base_fare + maintain_fare
      return total_fare
      pass

#testcase:
School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [60]:
#write here and run the cell
import json

data = {"key1": "value1", "key2": "value2"}
json_data = json.dumps(data)
print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [86]:
#write here and run the cell
import json
sample_json = {"id": 1, "name": "value2", "age": 29}
sorted_json_data = json.dumps(sample_json, sort_keys=True)
with open("sorted_json_data.json", "w") as file:
  file.write(sorted_json_data)

print(sorted_json_data)

with open("sorted_json_data.json", "r") as file:
  fc= file.read()

print("sorted_json_data.json file contains: ",fc)

{"age": 29, "id": 1, "name": "value2"}
sorted_json_data.json file contains:  {"age": 29, "id": 1, "name": "value2"}